button {
   background-color: #fff;
   border: none;
   color: #aaa;
   cursor: pointer;
   font-size: 16px;
   padding: 15px;
 }
 
 button:hover {
   color: #222;
 }
 
 button:focus {
   outline: none;
 }
 
 .container .controls button {
   position: absolute;
   left: 35%;
   top: 50%;
   z-index: 100;
 }
 
 .container .controls .down-button {
   transform: translateX(-100%);
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
 }
 
 .container .controls .up-button {
   transform: translateY(-100%);
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
 }